{% extends 'task/base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" href="{% static 'user_form.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div id="errors">
            {{ form.errors }}
        </div>
        <form action="" method="post">
            {% csrf_token %}
            <label for="new-password1-id-for-label">Новый пароль</label>
            {{ form.new_password1 }}

            <label for="new-password2-id-for-label">Повторите новый пароль</label>
            {{ form.new_password2 }}

            <button type="submit">Отправить</button>
        </form>

    </main>
{% endblock %}