{% extends 'task/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'user_form.css' %}">
{% endblock %}

{% block content %}
    <main>
        <div id="errors">
            {{ form.errors }}
        </div>
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="username-id-for-label">Имя пользователя</label>
            {{ form.username }}

            <label for="email-id-for-label">Адрес электронной почты, на который будет сброшена форма сброса пароля</label>
            {{ form.email }}

            <button type="submit">Отправить</button>
        </form>

    </main>
    <script src="{% static 'js/preview_avatar.js' %}"></script>
{% endblock %}